<% provide(:name, "Let's work together") %>

<section class="contact container">
<div>
<h1>Thanks for taking the time to reach out. How can I be of help? </h1>

  <div class="row">
    <div class="col-md-6 message">
	<div class = "dm">Send me a direct message: </div>
	<%= form_for @contact do |f| %>
		<div class="form-group">
		<%= f.label :name %><br>
		<%= f.text_field :name, required: true, class: "form-control", placeholder: "John Doe" %>
		</div>
		
		<br>

		<div class="form-group">
		<%= f.label :email %><br>
		<%= f.email_field :email, required: true, class: "form-control", placeholder: "janedoe@example.com" %>
		</div>
		

		<br>

		<div class="form-group">
		<%= f.label :message %><br>
		<%= f.text_area :message, as: :text, class: "form-control", id: "exampleFormControlTextarea1", placeholder: "Lorem ipsum dolor sit", rows: 3 %>
		</div>
		
		<div class="hidden form-group">
			<%= f.label :nickname %><br>
			<%= f.text_field :nickname, hint: 'leave this field blank', class: "form-control" %>
		</div>

		<%= f.submit 'Send Message', class: "btn btn-primary" %>
	<% end %>
	</div>
	
	<div class="social-box col-md-6">
	<div class = "dm">Or contact me directly: </div>
	<ul>
	<li>
		<p>Phone</p>
		<p><a href="tel://234-705-430-4248">(+234) 705 430 4248</a></p>
	</li>
	<li>
		<p>Email</p>
		<p><a href="mailto:anitaudrey@gmail.com">anitaudrey@gmail.com</a></p>
	</li>
	<li>
		<p>Projects</p>
		<p><a href="https://github.com/Audrey-Ella-xo">https://github.com/Audrey-Ella-xo</a></p>
		
	</li>
	</ul>
		<div class="dmme">You can also reach me via my social media handles </div>
		<div class="socials">
			<a href="#"><i class="fab fa-twitter"></i></a>
			<a href="#"><i class="fab fa-linkedin"></i></a>
			<a href="#"><i class="fab fa-github"></i></a>
			<a href="#"><i class="fab fa-medium"></i></a>
			<a href="#"><i class="fas fa-envelope"></i></a>
			<a href="#"><i class="fab fa-skype"></i></a>
		</div>
    </div>
  </div>
</div>

</section>
