<!DOCTYPE html>
<html data-theme='dark'>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/google_analytics' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="area" >
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div >
   
    <% unless action_name == "home" %>
      <%= render 'layouts/header' %>
    <% end %>
    <%= render 'layouts/sidebar' %>
  
    <main class="container context">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>

    <script type="text/javascript">
      var checkbox = document.getElementById('switch');

      checkbox.addEventListener('change', function() {
          if(this.checked) {
              trans()
              document.documentElement.setAttribute('data-theme', 'light')
          } else {
              trans()
              document.documentElement.setAttribute('data-theme', 'dark')
          }
      })

      let trans = () => {
          document.documentElement.classList.add('transition');
          window.setTimeout(() => {
              document.documentElement.classList.remove('transition')
          }, 1000)
      }
    </script>
    
  </body>
</html>
